 * {
    margin: 0;
    padding: 0;
 }
 #navh {
    background-color: #B0DB9C;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
 }
 ul {
    display: flex;
    list-style: none;
 }
 ul li {
    margin: 10px;

 }
 li:hover {
    transform: scale(1.3);
    background-color: #CAE8BD;
    border-radius: 5px;
 }
#home {
    background: #CAE8BD;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
 }
 #home > h1,
#home > p,
#home > a
 {
    margin-bottom: 15px;
    text-align: center;
 }
 #home>h1 {
    margin-top: -120px;
 }
 #home>a>button {
    width: 100px;
    height: 40px;
    margin: 10px;
 }
 #about {
    text-align: center;
    background:#B0DB9C;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 #about>h3, 
 #about>img, 
 #about>p {
    margin: 20px;
 }
 #about>p {
    font-size: x-large;
 }
 #about>img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 #about>h2 {
    margin-top: -30px;
    margin-bottom: 50px;
 }
 #skills {
    text-align: center;
    background:#CAE8BD;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  #skills>h2 {
    margin-bottom: 120px;
  }
 .skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
 }
 .box {
   border: 2px solid black;
   border-radius: 10px;
   text-align: left;
   height: 200px;
   width: 200px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   transition: 0.3s;
   padding: 10px;
 }
 .box:hover {
   transform: scale(1.05);
   background-color: #B0DB9C;
 }
 .box h3 {
   text-align: center;
   margin-bottom: 10px;
 }
 #contact {
    background:#B0DB9C;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 #contact>h2 {
    margin-bottom: 80px;
    margin-top: -100px;
 }
 #contact>input {
    border-radius: 10px;
    width: 300px;
    height: 50px;
 }
  #contact>label {
    font-size: x-large;
    margin: 10px;
  }
   #contact>button {
    width: 80px;
    height: 30px;
    margin: 10px;
 }
 #foot {
    background-color: #CAE8BD;
    color: #a619f8;
    text-align: center;
 }
 header{
    position: sticky;
    top: 0;
 }
 #but {
   background-color: #B0DB9C;
   color: black;
   border-radius: 5px;
 }
 #but:hover {
   transform: scale(1.3);
 }